@page
@model CarBooking.Web.Pages.Cars.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Car.Id" />

            <div class="form-group mb-2">
                <label asp-for="Car.Year" class="control-label"></label>
                <input asp-for="Car.Year" class="form-control" />
                <span asp-validation-for="Car.Year" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <span class="text-danger">*</span>
                <label asp-for="Car.Model" class="control-label"></label>
                <input asp-for="Car.Model" class="form-control" aria-required="true" />
                <span asp-validation-for="Car.Model" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <button class="btn btn-warning">  <i class="fa fa-save"></i> Edit</button>
                <a asp-page="Index" class="btn btn-outline-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
